
<div *ngIf="!isLoaded" class="placeholder-glow">
    <div class="row">
      <div class="col-md-12">
        <div class="card placeholder w-100">
          <div class="card-body" style="height: 300px"></div>
        </div>
      </div>
  </div>
</div>


<ul class="list-group" *ngIf="isLoaded">
  <li class="list-group-item text-center bg-dark text-light "><h5 class="mb-0">Colors</h5></li>
  <li
  class="list-group-item pointer-list"
  [class.active] = "isCurrentColor(color.colorId)"
  (click) ="setCurrentColor(color.colorId)"
  *ngFor="let color of colors"
  routerLink="/colors/{{color.colorId}}">{{color.name}}</li>

</ul>
