<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mt-2">Edit Brand</h4>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >

      <div class="card-body">
          <div class="form-group mt-2">
            <label for="description" class="form-label">Car Name</label>
            <input type="text" class="form-control" id="description" formControlName="description" >
          </div>
          <div class="form-group mt-2">
            <label for="brandId" class="form-label">Brand</label>
            <select class="form-control" id="brandId"   formControlName="brandId" >
              <option  *ngFor="let brand of brands"    value="{{brand.brandId}}"> {{brand.brandName}} </option>
            </select>
          </div>
          <div class="form-group mt-2">
            <label for="colorId" class="form-label">Color</label>
            <select class="form-control" id="colorId"  formControlName="colorId" >
              <option  *ngFor="let color of colors" value="{{color.colorId}}"> {{color.colorName}} </option>
            </select>
          </div>
          <div class="form-group mt-2">
            <label for="modelYear" class="form-label">Model Year</label>
            <input type="number" class="form-control" id="modelYear" formControlName="modelYear" >
          </div>
          <div class="form-group mt-2">
            <label for="dailyPrice" class="form-label">Daily Price</label>
            <input type="number" class="form-control" id="dailyPrice" formControlName="dailyPrice" >
          </div>


          <div class="form-group mt-2">
            <label for="productPhotos" class="form-label">Product Photos</label>
            <input type="file" #fileInput (change) ="uploadFile($event)"  multiple class="form-control mb-2"  accept=".png,.jpg,.jpeg,.webp">

            <div class="" *ngIf="carImagesLoaded">

              <div class="photos-grid  row" *ngIf="carImages.length>0">
                <div class="col-4" *ngFor="let photo of carImages">
                  <img src="{{ photo.imagePath }} " class="detail-photo-grid" alt="Car" />
                  <div *ngIf="photo.id!=0">
                    <a class="btn btn-outline-danger w-100 mt-2" (click)="removeCarImage(photo)">Delete Image</a>
                  </div>

                </div>
              </div>

              <div *ngIf="carImages.length<=0">
                <div class="col-4">
                  <img src="{{ defaultPhoto }}" class="detail-photo-grid" alt="Car" />
                </div>
              </div>



            </div>
          </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-outline-danger me-2" type="button" (click)="removeCar()">Delete Car</button>
        <button class="btn btn-success">Update Car</button>
      </div>
    </form>

    </div>
  </div>
</div>
