
<main class="form-signin w-50  m-auto">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Sign Up</h1>

    <div >
      <label for="fn">First Name</label>
      <input type="text" class="form-control" id="fn" formControlName="firstName">
    </div>

    <div >
      <label for="ln">Last Name</label>
      <input type="text" class="form-control" id="ln" formControlName="lastName">
    </div>

    <div >
      <label for="em">E-Mail</label>
      <input type="email" class="form-control" id="em" formControlName="email">
    </div>

    <div >
      <label for="pw">Password</label>
      <input type="password" class="form-control" id="pw" formControlName="password">
    </div>


    <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
  </main>



