<div *ngIf="!isLoaded" class="placeholder-glow">
  <div class="row">
    <div class="col-md-4">
      <div class="card placeholder w-100">
        <div class="card-body" style="height: 300px"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card placeholder w-100">
        <div class="card-body" style="height: 300px"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card placeholder w-100">
        <div class="card-body" style="height: 300px"></div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isLoaded">
  <div class="col-md-4 mb-4" *ngFor="let car of cars">
    <div class="card placeholder-glow">
      <img src="{{ car.coverImg }}" class="card-img-top car-image" alt="car-image" />
      <div class="card-body">
        <h5 class="card-title">{{ car.carName }}</h5>
        {{ car.brandName }} - {{ car.colorName }}
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row justify-content-between">
          <div class="align-self-center">
            <small>Daily</small> / <b>{{ car.dailyPrice }}₺</b>
          </div>
          <a routerLink="/car/{{ car.id }}" class="btn btn-dark">İncele</a>
        </div>
      </div>
    </div>
  </div>
</div>
