<div *ngIf="!isLoaded" class="placeholder-glow">
  <div class="row">
    <div class="col-md-4">
      <div class="card placeholder w-100">
        <div class="card-body" style="height: 300px"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card placeholder w-100">
        <div class="card-body" style="height: 300px"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card placeholder w-100">
        <div class="card-body" style="height: 300px"></div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="isLoaded">
  <h5>Filters v1</h5>
  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Car Name</label>
        <input type="text" [(ngModel)]="carFilterText" class="form-control" id="exampleFormControlInput1" placeholder="Car name">
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Color Name</label>
        <input type="text" [(ngModel)]="colorFilterText" class="form-control" id="exampleFormControlInput2" placeholder="Color name">
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Brand Name</label>
        <input type="text" [(ngModel)]="brandFilterText" class="form-control" id="exampleFormControlInput3" placeholder="Brand name">
      </div>
    </div>
  </div>
</div>


<div *ngIf="isLoaded" class="mb-3">
  <h5>Filters v2</h5>


  <div class="row align-items-end">
    <div class="col-5">
      <label for="" class="form-label">Select Color</label>
      <select [(ngModel)]="colorId" class="form-control">
        <option value="0" selected  >choose color</option>
        <option *ngFor="let color of colors" [ngValue]="color.colorId"> {{color.colorName}} </option>
      </select>
    </div>
    <div class="col-5">
      <label for="" class="form-label">Select Brand</label>
      <select [(ngModel)]="brandId" class="form-control">
        <option value="0" selected >choose brand</option>
        <option *ngFor="let brand of brands" [ngValue]="brand.brandId"> {{brand.brandName}} </option>
      </select>
    </div>
    <div class="col-2">
      <button (click)="onSubmit()" class="btn btn-dark w-100">Filter</button>
    </div>
  </div>
</div>




<div class="row" *ngIf="isLoaded">
  <div class="col-md-4 mb-4" *ngFor="let car of cars | carPipe:carFilterText | colorPipe:colorFilterText | brandPipe : brandFilterText ">
    <div class="card placeholder-glow">
      <img src="{{ car.coverImage }}" class="card-img-top car-image" alt="car-image" />
      <div class="card-body">
        <h5 class="card-title">{{ car.description }}</h5>
        {{ car.brand.brandName }} - {{ car.color.colorName }}
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row justify-content-between">
          <div class="align-self-center">
            <small>Daily</small> / <b>{{ car.dailyPrice }}₺</b>
          </div>
          <a routerLink="/cars/{{ car.id }}" class="btn btn-dark">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
