<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mt-2">Add Color</h4>
      </div>
      <form [formGroup]="addColorForm" (ngSubmit) ="onSubmit()" >

      <div class="card-body">
          <div class="form-group mt-2">
            <label for="colorName" class="form-label">Color Name</label>
            <input type="text" class="form-control" id="colorName" formControlName="colorName" >
          </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" type="submit">Add Color</button>
      </div>
    </form>

    </div>
  </div>
</div>
