<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mt-2">Add Car</h4>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >

      <div class="card-body">
          <div class="form-group mt-2">
            <label for="description" class="form-label">Car Name</label>
            <input type="text" class="form-control" id="description" formControlName="description" >
          </div>
          <div class="form-group mt-2">
            <label for="brandId" class="form-label">Brand</label>
            <select class="form-control" id="brandId"  formControlName="brandId" >
              <option  value="0"  selected>Please choose brand</option>
              <option  *ngFor="let brand of brands" [ngValue]="brand.brandId"> {{brand.brandName}} </option>
            </select>
          </div>
          <div class="form-group mt-2">
            <label for="co64 lorId" class="form-label">Color</label>
            <select class="form-control" id="colorId"  formControlName="colorId" >
              <option  value="0"  selected>Please choose brand</option>
              <option  *ngFor="let color of colors" [ngValue]="color.colorId"> {{color.colorName}} </option>
            </select>
          </div>
          <div class="form-group mt-2">
            <label for="modelYear" class="form-label">Model Year</label>
            <input type="number" class="form-control" id="modelYear" formControlName="modelYear" >
          </div>
          <div class="form-group mt-2">
            <label for="dailyPrice" class="form-label">Daily Price</label>
            <input type="number" class="form-control" id="dailyPrice" formControlName="dailyPrice" >
          </div>

          <div class="form-group mt-2">
            <label for="productPhotos" class="form-label">Product Photos</label>
            <input (change) ="uploadFile($event)" type="file" multiple class="form-control"  accept=".png,.jpg,.jpeg,.webp"
            >
          </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success">Add New Car</button>
      </div>
    </form>

    </div>
  </div>
</div>
